/* Mixins for SASS */
@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}


/*Full Page Sectional CSS Styles */

body, html {
  background-color: #222;
  height: 100%;
  font-family: 'Work Sans', Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #ccc;
  margin: 0;
  padding: 0;
  strong {
    color: #fff;
  }
}
.animsition {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.blank {
  height: 25vw;
}

::-moz-selection { background-color: #ff2b06; color: #fff; }
::selection { background-color: #ff2b06; color: #fff; }

h1 {
  font-family: 'Work Sans', 'Tiempos Headline', Didot, Garamond, Times, serif;
}
h2 {
  font-size: 170%;
  font-weight: 500;
  color: #fff;
}
p {
  font-size: 100%;
  @media only screen and (min-width: 769px) {
    font-size: 110%;
  }
  font-weight: 300;
  letter-spacing: 1px;
  margin: 0 auto;
  z-index: 2;
  line-height: 170%;
  padding-bottom: 3%;
}


a {
  color: #fff;
  text-decoration: none;
  font-weight: 400;
  &:hover {
    color: #ff2b06;
  }
  @include transition(color 300ms ease);
}


/* Section specific CSS styles */
.hero {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #222;
  overflow: hidden;
  .titl {
    display: flex !important;
    position: absolute;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  h1 {
    font-size: 250%;
    width: 75%;
    min-width: 380px;
    max-width: 600px;
    margin: 0 auto;
    color: #fff;
    text-align: center;
    z-index: 2;
    @media only screen and (min-width: 769px) {
      font-size: 400%;
    }
  }
  p {
    font-size: 110%;
    font-weight: 300;
    letter-spacing: 1px;
    width: 50%;
    max-width: 650px;
    min-width: 330px;
    margin: 0 auto;
    text-align: center;
    z-index: 2;
  }
  .pg, .pg-canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  .topomap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    .topomapsvg {
      height: 100%;
      transform: scale(1.5);
    }
  }
}


@keyframes backScroll {
	0% { background-position: 0 0; }
	100% { background-position: -1643px 0; }
}
@-moz-keyframes backScroll {
	0% { background-position: 0 0; }
	100% { background-position: -1643px 0; }
}
@-webkit-keyframes backScroll {
	0% { background-position: 0 0; }
	100% { background-position: -1643px 0; }
}
@-ms-keyframes backScroll {
	0% { background-position: 0 0; }
	100% { background-position: -1643px 0; }
}
@-o-keyframes backScroll {
	0% { background-position: 0 0; }
	100% { background-position: -1643px 0; }
}

@keyframes backZoom {
	0% { background-size: 100%; }
	100% { background-size: 120%; }
}
@-moz-keyframes backZoom {
	0% { background-size: 100%; }
	100% { background-size: 120%; }
}
@-webkit-keyframes backZoom {
	0% { background-size: 100%; }
	100% { background-size: 120%; }
}
@-ms-keyframes backZoom {
	0% { background-size: 100%; }
	100% { background-size: 120%; }
}
@-o-keyframes backZoom {
	0% { background-size: 100%; }
	100% { background-size: 120%; }
}


.inhero {
  background-image: url(/images/topomap.svg);
  background-size: auto;
  background-position: 0 0;
  background-repeat: repeat;
  position: relative;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 50vw;
  max-height: 100%;
  align-content: center;
  align-items: center;
  &.maxed {
    max-height: 350px;
  }
  h1 {
    text-align: center;
    flex: auto;
    font-size: 200%;
    width: 75%;
    min-width: 180px;
    max-width: 700px;
    margin: 0 auto;
    padding: 10vw 5vw 0 5vw;
    color: #fff;
    text-align: center;
    z-index: 2;
    @media only screen and (min-width: 769px) {
      padding: 0 15vw;
      font-size: 300%;
    }
    span img {
      position: absolute;
      margin: 9vw -15vw;
      width: 15vw;
    }
  }
}
.inanimate {
  animation: backScroll 80s linear infinite;
	-moz-animation: backScroll 80s linear infinite;
	-webkit-animation: backScroll 80s linear infinite;
	-ms-animation: backScroll 80s linear infinite;
	-o-animation: backScroll 80s linear infinite;
}
.inzoom {
  animation: backZoom 10s ease-out forwards;
	-moz-animation: backZoom 10s ease-out forwards;
	-webkit-animation: backZoom 10s ease-out forwards;
	-ms-animation: backZoom 10s ease-out forwards;
	-o-animation: backZoom 10s ease-out forwards;
}
.inspon {
  background-image: url(/images/litxf.jpg);
  background-size: cover;
  background-position: center;
}
.inabout {
  background-image: url(/images/about1.jpg);
  background-size: cover;
  background-position: center;
}

.twothirds {
  padding: 0 2.5vw;
  @media only screen and (min-width: 769px) {
    padding: 0 16vw;
    text-align: center;
  }
}

.reach {
  h1 {
    font-size: 150%;
    width: 75%;
    min-width: 380px;
    max-width: 600px;
    margin: 0 auto;
    color: #fff;
    text-align: center;
    z-index: 2;
    @media only screen and (min-width: 769px) {
      font-size: 300%;
    }
  }
  p {
    font-size: 110%;
    font-weight: 300;
    letter-spacing: 1px;
    width: 50%;
    max-width: 650px;
    min-width: 330px;
    margin: 0 auto;
    text-align: center;
    z-index: 2;
  }
}

.about, .about2, .spon {
  background-color: #222;
  background-position: left center;
  background-size: cover;
  height: 100%;
}



.about1 {
  background-position: left center;
  background-size: cover;
}
.about2 {
  background-image: url(/images/tedx_1.jpg);
  background-position: left center;
  background-size: cover;
}
.about3 {
  background-image: url(/images/tedx_4.jpg);
  background-position: left center;
  background-size: cover;
}

.about2 {
  background-image: url(/images/tedx_3.jpg);
  text-align: right;
  .flow, .fl-m-1, .fl-d-2 {
    float: right;
  }
}

.spon {
}

.connect {
  width: 100%;
  background-color: #222;
  h1 {
    font-size: 250%;
    color: #fff;
    text-align: center;
    z-index: 2;
    padding-bottom: 20px;
    @media only screen and (min-width: 769px) {
      font-size: 400%;
    }
  }
  p {
    font-size: 110%;
    font-weight: 300;
    letter-spacing: 1px;
    width: 50%;
    max-width: 650px;
    min-width: 330px;
    margin: 0 auto;
    text-align: center;
    z-index: 2;
  }
  #myVideo {
		position: absolute;
		right: 0;
		bottom: 0;
		top:0;
		right:0;
		width: 100%;
		height: 100%;
		background-size: 100% 100%;
    background-position: center center;
    background-size: contain;
    object-fit: cover;
	}
  .flow {
    position: absolute;
    height: 500px;
    margin-top: -250px;
  }
}

.sponpopup {
  position: absolute;
  width: 100%;
  height: 45px;
  bottom: 0;
  left: 0;
  p {
    text-align: center;
    margin: 0 5vw;
    background-color: #fff;
    padding: 10px;
    @include transition(all 300ms ease);
  }
  a {
    color: #ff2b06;
    @include transition(color 300ms ease);
    &:hover {
      color: #fff;
      p {
        background-color: #ff2b06;
      }
    }
  }
  
}

.logo {
  position: fixed;
  top: 5vw;
  left: 5vw;
  z-index: 5;
  img {
    width: 250px;
  }
}

.viswait, .viswaitdelay, .viswaitthree {
  opacity: 0;
  @include transition(opacity 2s ease);
}
.visible {
  opacity: 1;
  visibility: visible;
}

.hideme {
  opacity: 1;
  transform: translateY(0);
  overflow: hidden;
  -webkit-transition: all 500ms ease;
     -moz-transition: all 500ms ease;
      -ms-transition: all 500ms ease;
       -o-transition: all 500ms ease;
          transition: all 500ms ease;
}
.hideme img {
  transform: scale(1);
  -webkit-transition: all 1200ms ease;
     -moz-transition: all 1200ms ease;
      -ms-transition: all 1200ms ease;
       -o-transition: all 1200ms ease;
          transition: all 1200ms ease;
}
.imhidden {
  opacity: 0 !important;
  transform: translateY(20px);
}
.imhidden img {
  transform: scale(1.1) !important;
}

nav {
  position: fixed;
  font-size: 120%;
  top: 80px;
  right: 5vw;
  z-index: 5;
  @include transition(all 300ms ease);
  ul {
    list-style: none;
    margin: 5px 0;
    text-align: right;
    opacity: 0;
    visibility: hidden;
    @include transition(all 300ms ease);
    &.open {
      opacity: 1;
      visibility: visible;
    }
    li {
      display: block;
      padding: 0 0 20px 0;
      margin: 0 0 0 40px;
      a.active {
        padding-bottom: 10px;
        border-bottom: solid 2px rgba(255,255,255,0.15);
      }
    }
  }
  .navback {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #222;
    z-index: -1;
    opacity: 0;
    visibility: hidden;
    @include transition(all 300ms ease);
    &.open {
      opacity: 1;
      visibility: visible;
    }
  }
  @media only screen and (min-width: 769px) {
    display: block;
    font-size: 100%;
    top: 5vw;
    opacity: 1;
    visibility: visible;
    ul {
      opacity: 1;
      visibility: visible;
      li {
        display: inline-block;
      }
    }
    .navback {
      display: none;
    }
  }
}
    
.gettickets {
    margin: auto 0;
    background-color: #ff0000;
    padding: 22px 28px;
    font-weight: 800;
    font-size: 110%;
    text-align: center;
    transition: all 300ms ease;
    -webkit-transition: all 500ms ease;
    &:hover {
        background-color: #fff;
    }
}

.speakerbio {
    transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    img {
        border-radius: 500px;
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
        transition: all 1s ease;
        -webkit-transition: all 1s ease;
    }
    h3 {
        font-size: 150%;
        color: #fff;
        text-align: center;
    }
    p {
        height: 450px;
        overflow: hidden;
        transition: all 500ms ease;
        -webkit-transition: all 500ms ease;
    }
    &:hover {
        img {
            -webkit-transform: scale(1);
        transform: scale(1);
        }
    }
}