/* Mixins for SASS */
/*Full Page Sectional CSS Styles */
/* line 13, /Users/Matt/Sites/GRC338/TEDxSanLuisObispo/css/style.scss */
body, html {
  height: 100%;
  font-family: 'Work Sans', Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: #fff; }

/* line 20, /Users/Matt/Sites/GRC338/TEDxSanLuisObispo/css/style.scss */
h1 {
  font-family: 'Eczar', 'Tiempos Headline', Didot, Garamond, Times, serif; }

/* line 24, /Users/Matt/Sites/GRC338/TEDxSanLuisObispo/css/style.scss */
p {
  line-height: 170%;
  padding-bottom: 3%; }

/* line 29, /Users/Matt/Sites/GRC338/TEDxSanLuisObispo/css/style.scss */
a {
  color: #fff;
  text-decoration: none;
  font-weight: 400;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease; }
  /* line 33, /Users/Matt/Sites/GRC338/TEDxSanLuisObispo/css/style.scss */
  a:hover {
    color: #ff2b06; }

/* Section specific CSS styles */
/* line 40, /Users/Matt/Sites/GRC338/TEDxSanLuisObispo/css/style.scss */
.hero {
  width: 100%;
  background-color: #222; }
  /* line 43, /Users/Matt/Sites/GRC338/TEDxSanLuisObispo/css/style.scss */
  .hero h1 {
    font-size: 250%;
    color: #fff;
    text-align: center;
    z-index: 2;
    padding-bottom: 20px; }
    @media only screen and (min-width: 769px) {
      /* line 43, /Users/Matt/Sites/GRC338/TEDxSanLuisObispo/css/style.scss */
      .hero h1 {
        font-size: 400%; } }
  /* line 53, /Users/Matt/Sites/GRC338/TEDxSanLuisObispo/css/style.scss */
  .hero p {
    font-size: 110%;
    font-weight: 300;
    letter-spacing: 1px;
    width: 50%;
    max-width: 650px;
    min-width: 330px;
    margin: 0 auto;
    text-align: center;
    z-index: 2; }
  /* line 64, /Users/Matt/Sites/GRC338/TEDxSanLuisObispo/css/style.scss */
  .hero .pg, .hero .pg-canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; }

/* line 74, /Users/Matt/Sites/GRC338/TEDxSanLuisObispo/css/style.scss */
.about, .spon {
  background-color: #222;
  background-image: url(/images/tedx_2.jpg);
  background-position: left center;
  background-size: cover;
  height: 100%; }
  /* line 80, /Users/Matt/Sites/GRC338/TEDxSanLuisObispo/css/style.scss */
  .about .cont, .spon .cont {
    width: 90%;
    margin: 0 5%; }
  /* line 84, /Users/Matt/Sites/GRC338/TEDxSanLuisObispo/css/style.scss */
  .about h2, .spon h2 {
    font-size: 170%;
    font-weight: 500;
    color: #ff2b06; }
  /* line 89, /Users/Matt/Sites/GRC338/TEDxSanLuisObispo/css/style.scss */
  .about p, .spon p {
    font-weight: 300;
    letter-spacing: 1px;
    margin: 0 auto;
    z-index: 2; }

/* line 101, /Users/Matt/Sites/GRC338/TEDxSanLuisObispo/css/style.scss */
.spon {
  background-image: none;
  text-align: right; }
  /* line 104, /Users/Matt/Sites/GRC338/TEDxSanLuisObispo/css/style.scss */
  .spon .flow, .spon .fl-m-1, .spon .fl-d-2 {
    float: right; }

/* line 109, /Users/Matt/Sites/GRC338/TEDxSanLuisObispo/css/style.scss */
.logo {
  position: fixed;
  top: 5vw;
  left: 5vw;
  z-index: 5; }
  /* line 114, /Users/Matt/Sites/GRC338/TEDxSanLuisObispo/css/style.scss */
  .logo img {
    width: 250px; }

/* line 119, /Users/Matt/Sites/GRC338/TEDxSanLuisObispo/css/style.scss */
nav {
  display: none;
  position: fixed;
  top: 5vw;
  right: 5vw;
  z-index: 5; }
  @media only screen and (min-width: 769px) {
    /* line 119, /Users/Matt/Sites/GRC338/TEDxSanLuisObispo/css/style.scss */
    nav {
      display: block; } }
  /* line 128, /Users/Matt/Sites/GRC338/TEDxSanLuisObispo/css/style.scss */
  nav ul {
    list-style: none;
    margin: 5px 0; }
    /* line 131, /Users/Matt/Sites/GRC338/TEDxSanLuisObispo/css/style.scss */
    nav ul li {
      display: inline-block;
      padding-left: 40px; }

/*# sourceMappingURL=style.css.map */