/* Mixins for SASS */
/*Full Page Sectional CSS Styles */
/* line 13, /Users/Matt/Sites/GRC338/TEDxSanLuisObispo/css/style.scss */
body, html {
  background-color: #222;
  height: 100%;
  font-family: 'Work Sans', Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #fff; }

/* line 20, /Users/Matt/Sites/GRC338/TEDxSanLuisObispo/css/style.scss */
.animsition {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

/* line 27, /Users/Matt/Sites/GRC338/TEDxSanLuisObispo/css/style.scss */
.blank {
  height: 25vw; }

/* line 31, /Users/Matt/Sites/GRC338/TEDxSanLuisObispo/css/style.scss */
::-moz-selection {
  background-color: #ff2b06;
  color: #fff; }

/* line 32, /Users/Matt/Sites/GRC338/TEDxSanLuisObispo/css/style.scss */
::selection {
  background-color: #ff2b06;
  color: #fff; }

/* line 34, /Users/Matt/Sites/GRC338/TEDxSanLuisObispo/css/style.scss */
h1 {
  font-family: 'Work Sans', 'Tiempos Headline', Didot, Garamond, Times, serif; }

/* line 37, /Users/Matt/Sites/GRC338/TEDxSanLuisObispo/css/style.scss */
h2 {
  font-size: 170%;
  font-weight: 500;
  color: #fff; }

/* line 42, /Users/Matt/Sites/GRC338/TEDxSanLuisObispo/css/style.scss */
p {
  font-size: 80%;
  font-weight: 300;
  letter-spacing: 1px;
  margin: 0 auto;
  z-index: 2;
  line-height: 170%;
  padding-bottom: 3%; }
  @media only screen and (min-width: 769px) {
    /* line 42, /Users/Matt/Sites/GRC338/TEDxSanLuisObispo/css/style.scss */
    p {
      font-size: 100%; } }

/* line 56, /Users/Matt/Sites/GRC338/TEDxSanLuisObispo/css/style.scss */
a {
  color: #fff;
  text-decoration: none;
  font-weight: 400;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease; }
  /* line 60, /Users/Matt/Sites/GRC338/TEDxSanLuisObispo/css/style.scss */
  a:hover {
    color: #ff2b06; }

/* Section specific CSS styles */
/* line 68, /Users/Matt/Sites/GRC338/TEDxSanLuisObispo/css/style.scss */
.hero {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #222;
  overflow: hidden; }
  /* line 76, /Users/Matt/Sites/GRC338/TEDxSanLuisObispo/css/style.scss */
  .hero .titl {
    display: flex !important;
    position: absolute;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center; }
  /* line 84, /Users/Matt/Sites/GRC338/TEDxSanLuisObispo/css/style.scss */
  .hero h1 {
    font-size: 250%;
    width: 75%;
    min-width: 380px;
    max-width: 600px;
    margin: 0 auto;
    color: #fff;
    text-align: center;
    z-index: 2; }
    @media only screen and (min-width: 769px) {
      /* line 84, /Users/Matt/Sites/GRC338/TEDxSanLuisObispo/css/style.scss */
      .hero h1 {
        font-size: 400%; } }
  /* line 97, /Users/Matt/Sites/GRC338/TEDxSanLuisObispo/css/style.scss */
  .hero p {
    font-size: 110%;
    font-weight: 300;
    letter-spacing: 1px;
    width: 50%;
    max-width: 650px;
    min-width: 330px;
    margin: 0 auto;
    text-align: center;
    z-index: 2; }
  /* line 108, /Users/Matt/Sites/GRC338/TEDxSanLuisObispo/css/style.scss */
  .hero .pg, .hero .pg-canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; }
  /* line 116, /Users/Matt/Sites/GRC338/TEDxSanLuisObispo/css/style.scss */
  .hero .topomap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
    /* line 122, /Users/Matt/Sites/GRC338/TEDxSanLuisObispo/css/style.scss */
    .hero .topomap .topomapsvg {
      height: 100%;
      transform: scale(1.5); }

/* line 130, /Users/Matt/Sites/GRC338/TEDxSanLuisObispo/css/style.scss */
.reach h1 {
  font-size: 150%;
  width: 75%;
  min-width: 380px;
  max-width: 600px;
  margin: 0 auto;
  color: #fff;
  text-align: center;
  z-index: 2; }
  @media only screen and (min-width: 769px) {
    /* line 130, /Users/Matt/Sites/GRC338/TEDxSanLuisObispo/css/style.scss */
    .reach h1 {
      font-size: 300%; } }

/* line 143, /Users/Matt/Sites/GRC338/TEDxSanLuisObispo/css/style.scss */
.reach p {
  font-size: 110%;
  font-weight: 300;
  letter-spacing: 1px;
  width: 50%;
  max-width: 650px;
  min-width: 330px;
  margin: 0 auto;
  text-align: center;
  z-index: 2; }

/* line 156, /Users/Matt/Sites/GRC338/TEDxSanLuisObispo/css/style.scss */
.about, .about2, .spon {
  background-color: #222;
  background-position: left center;
  background-size: cover;
  height: 100%; }

/* line 165, /Users/Matt/Sites/GRC338/TEDxSanLuisObispo/css/style.scss */
.about1 {
  background-position: left center;
  background-size: cover; }

/* line 169, /Users/Matt/Sites/GRC338/TEDxSanLuisObispo/css/style.scss */
.about2 {
  background-image: url(/images/tedx_1.jpg);
  background-position: left center;
  background-size: cover; }

/* line 174, /Users/Matt/Sites/GRC338/TEDxSanLuisObispo/css/style.scss */
.about3 {
  background-image: url(/images/tedx_4.jpg);
  background-position: left center;
  background-size: cover; }

/* line 180, /Users/Matt/Sites/GRC338/TEDxSanLuisObispo/css/style.scss */
.about2 {
  background-image: url(/images/tedx_3.jpg);
  text-align: right; }
  /* line 183, /Users/Matt/Sites/GRC338/TEDxSanLuisObispo/css/style.scss */
  .about2 .flow, .about2 .fl-m-1, .about2 .fl-d-2 {
    float: right; }

/* line 191, /Users/Matt/Sites/GRC338/TEDxSanLuisObispo/css/style.scss */
.connect {
  width: 100%;
  background-color: #222; }
  /* line 194, /Users/Matt/Sites/GRC338/TEDxSanLuisObispo/css/style.scss */
  .connect h1 {
    font-size: 250%;
    color: #fff;
    text-align: center;
    z-index: 2;
    padding-bottom: 20px; }
    @media only screen and (min-width: 769px) {
      /* line 194, /Users/Matt/Sites/GRC338/TEDxSanLuisObispo/css/style.scss */
      .connect h1 {
        font-size: 400%; } }
  /* line 204, /Users/Matt/Sites/GRC338/TEDxSanLuisObispo/css/style.scss */
  .connect p {
    font-size: 110%;
    font-weight: 300;
    letter-spacing: 1px;
    width: 50%;
    max-width: 650px;
    min-width: 330px;
    margin: 0 auto;
    text-align: center;
    z-index: 2; }
  /* line 215, /Users/Matt/Sites/GRC338/TEDxSanLuisObispo/css/style.scss */
  .connect #myVideo {
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    background-position: center center;
    background-size: contain;
    object-fit: cover; }
  /* line 228, /Users/Matt/Sites/GRC338/TEDxSanLuisObispo/css/style.scss */
  .connect .flow {
    position: absolute;
    height: 500px;
    margin-top: -250px; }

/* line 235, /Users/Matt/Sites/GRC338/TEDxSanLuisObispo/css/style.scss */
.logo {
  position: fixed;
  top: 5vw;
  left: 5vw;
  z-index: 5; }
  /* line 240, /Users/Matt/Sites/GRC338/TEDxSanLuisObispo/css/style.scss */
  .logo img {
    width: 250px; }

/* line 245, /Users/Matt/Sites/GRC338/TEDxSanLuisObispo/css/style.scss */
nav {
  position: fixed;
  font-size: 120%;
  top: 80px;
  right: 5vw;
  z-index: 5;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease; }
  /* line 252, /Users/Matt/Sites/GRC338/TEDxSanLuisObispo/css/style.scss */
  nav ul {
    list-style: none;
    margin: 5px 0;
    text-align: right;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease; }
    /* line 259, /Users/Matt/Sites/GRC338/TEDxSanLuisObispo/css/style.scss */
    nav ul.open {
      opacity: 1;
      visibility: visible; }
    /* line 263, /Users/Matt/Sites/GRC338/TEDxSanLuisObispo/css/style.scss */
    nav ul li {
      display: block;
      padding: 0 0 20px 40px; }
  /* line 268, /Users/Matt/Sites/GRC338/TEDxSanLuisObispo/css/style.scss */
  nav .navback {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #222;
    z-index: -1;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease; }
    /* line 279, /Users/Matt/Sites/GRC338/TEDxSanLuisObispo/css/style.scss */
    nav .navback.open {
      opacity: 1;
      visibility: visible; }
  @media only screen and (min-width: 769px) {
    /* line 245, /Users/Matt/Sites/GRC338/TEDxSanLuisObispo/css/style.scss */
    nav {
      display: block;
      font-size: 100%;
      top: 5vw;
      opacity: 1;
      visibility: visible; }
      /* line 290, /Users/Matt/Sites/GRC338/TEDxSanLuisObispo/css/style.scss */
      nav ul {
        opacity: 1;
        visibility: visible; }
        /* line 293, /Users/Matt/Sites/GRC338/TEDxSanLuisObispo/css/style.scss */
        nav ul li {
          display: inline-block; }
      /* line 297, /Users/Matt/Sites/GRC338/TEDxSanLuisObispo/css/style.scss */
      nav .navback {
        display: none; } }

/*# sourceMappingURL=style.css.map */